{% load static %}
<html lang="pt-br">
    <head>
        <title>PPGI Recomendação</title>
        <meta charset="utf-8" author="Marcos e Mariana">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <link rel="stylesheet" href="{% static 'css/document_list.css' %}">
    </head>
    <body>
        <div class="container-fluid">
            <div class="container-fluid row border border-secondary">
                <div class="page-header col-12">
                    <h1>You Docs</h1>
                </div>
            </div>
            <div class="container feed-container">
               {% block content %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>